.button{
    background-color:$color-principal;
    color:$color-secundario; 
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.titulos {
    color:$color-principal;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
}
